.App {
  text-align: center;
  background-color: #ADB4C7;
  background-size: cover;
  height: 1200px;
  color: red;
}

div .Navbar {
  color: blue;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

Header {
  background-color: grey;
}

.welcome {
  color: black;
  margin: 50px;
  position: relative;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}